:root {
    --color1: rgb(199, 95, 135);
    --white: #f2f2f2;
}

body {
    background-color: black;
}

.homepage {
    min-height: 100vh;
    background-image: url("./media/image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgb(0, 0, 0));
    color: whitesmoke;
}

.font-1 {
    font-family: "Playfair Display", serif;
}

.font-2 {
    font-family: "Amita", serif;
}

.font-3 {
    font-family: "Josefin Sans", sans-serif;
}

.highlight {
    color: var(--color1);
}

.main-heading {
    font-size: 5rem;
    text-align: center;
}

.paragraph-text {
    font-size: 1.3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo {
    color: var(--white);
    font-weight: bold;
    font-size: 3rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.2s ease-in-out;
}

.nav-links a:hover {
    color: var(--color1);
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    font-size: 2rem;
}

.loop-text span {
    animation: fadeInOut 3s infinite;
}

.main-container {
    min-height: 100vh;
}

.sub-main-container {
    min-height: 10vh;
}

.link-style {
    color: var(--white);
    transition: 0.2s ease-in-out;
}

.link-style:hover {
    color: var(--color1);
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }
    10%, 15%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .main-heading {
        font-size: 3rem;
    }

    .paragraph-text {
        font-size: 1rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
    }

    .nav-links {
        padding-top: 5.5rem;
    }

    .logo {
        color: var(--white);
        font-weight: bold;
        font-size: 2rem;
        z-index: 2;
    }

    .menu-icon {
        display: flex;
        z-index: 2;
    }
}