{% extends 'main/layout.html' %}

{% block title %}
<title>Portfolio | Abdulla Shahzan</title>
{% endblock %}

{% block body %}


<section class="homepage">
    <div class="main">
        <div class="row m-0 p-md-5 p-3 d-flex justify-content-center align-items-center main-container">
            <article class="sub-main-container">
                <h1 class="main-heading font-1">I'm Abdulla Shahzan</h1>
                <div class="loop-text text-light main-heading font-1">
                    <span id="text-loop" class="highlight"></span>
                </div>
            </article>
        </div>
    </div>
</section>



<!-- 
Picture credits

Homepage wallpaper
https://unsplash.com/photos/pink-petaled-flower-closeup-photography-r9eIL7jtenc?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash
-->

{% endblock %}