{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Portfolio ⊙ Abdulla Shahzan
{% endblock %}


{% block body %}
<div class="container-fluid main-container px-md-5 py-md-4 p-4">
	<div class="row">
		<h1 class="text-light fst-13">I'm&nbsp;<span class="color1" id="typing-text"></span></h1>
	</div>
	<div class="row mynavbar">
		<ul class="fst-9">
			<li><a href=""><i class="bi bi-house-fill"></i> Home</a></li>
			<li><a href=""><i class="bi bi-file-earmark-code"></i> Projects</a></li>
			<li><a href=""><i class="bi bi-stars"></i> Achievements</a></li>
		</ul>
	</div>
	<div class="row hello-container pt-5">

		<div class="col-md-6 d-none d-md-flex justify-content-center align-items-center">
			<img src="{% static 'main/media/hello.svg' %}" width="100%" height="350vh">
	    </div>


		<div class="col-md-6 d-flex align-items-center text-light">
			<article>
		        <h1 class="fs-1 fst-13 color1">Hey, there!</h1>
		        <p class="fst-7">Welcome to my portfolio! Here, you'll find a showcase of my projects, skills, and experiences that reflect my passion for creating and solving problems. Explore my journey in AI, web development, and beyond. Let’s connect and build something amazing together!</p>
		        <a href="" type="button" class="fst-11 link mt-3"><i class="bi bi-person-lines-fill"></i> Contact me</a>
		        <a href="" type="button" class="fst-11 link mt-3 mx-4"><i class="bi bi-robot"></i> Talk with me</a>
	       </article>
	    </div>

	    
	</div>
</div>
<div class="background">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>	
<div class="container-fluid bg-color1 breaker-container">
</div>
<div class="container-fluid project-container p-md-5 py-5 px-4">
	<h1 class="fst-6 color3"><i class="bi bi-file-earmark-code"></i> <span class="color1">Top</span> Projects</h1>
	<hr class="text-light">
	<div class="card-group pt-4">
	  <div class="card bg-dark text-light">
	    <img src="{% static 'main/media/shopping.svg' %}" class="card-img-top p-3" alt="Shopping website">
	    <div class="card-body">
	      <h3 class="card-title fst-6 link"><a href="" title="A full-fledged E-commerce website with features including real-time payment transactions, AI based recommendation system etc.">Sophisticated E-commerce Web Application</a></h3><br>
	    </div>
	  </div>
	  <div class="card bg-dark text-light">
	    <img src="{% static 'main/media/factory.svg' %}" class="card-img-top p-3" alt="Factory">
	    <div class="card-body">
	      <h3 class="card-title fst-6 link"><a href="" title="11 AI models to extract 11 different types of minerals that can be found in saline water by simulating environmental control conditions.">Machine Learning Models For Mineral Analysis</a></h3><br>
	    </div>
	  </div>
	  <div class="card bg-dark text-light">
	    <img src="{% static 'main/media/learning.svg' %}" class="card-img-top p-3" alt="Learning">
	    <div class="card-body">
	      <h3 class="card-title fst-6 link"><a href="" title="A dynamic web application that adapts to the learning speed of the user by providing AI-generated quizzes and exams.">AI-Driven Adaptive Learning Platform</a></h3><br>
	    </div>
	  </div>
	  <div class="card bg-dark text-light">
	    <img src="{% static 'main/media/monitor.svg' %}" class="card-img-top p-3" alt="Monitoring">
	    <div class="card-body">
	      <h3 class="card-title fst-6 link"><a href="" title="An application that leverages AI to calculate crowd density from live video footages and display changes on live map to user.">Automated Crowd Monitoring System</a></h3><br>
	    </div>
	  </div>
	</div>
	<p class="text-light text-end fst-6 fs-3"><a href="" title="Show all projects" class="color1 text-decoration-none"><i class="bi bi-view-list"></i> Show more</a></p>
</div>
<div class="container-fluid bg-color1 breaker-container">
</div>
<div class="container-fluid intro-container p-md-5 py-5 px-4">
	<h1 class="fst-6 color3"><i class="bi bi-stars"></i> My <span class="color1">Achievements</span></h1>
	<hr class="text-light">
</div>


{% endblock %}